<?xml version="1.0" encoding="ISO8859-1" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yyyy hh:mm:ss}] %-5p %l -> %m%n" />
		</layout>
	</appender>

	<appender name="FILELOGGER" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="Speaker.log" />
		<param name="MaxFileSize" value="100KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yyyy hh:mm:ss}] %-5p %l -> %m%n" />
		</layout>
	</appender>

	<!--
		Así podemos tener logs de distintos niveles en distintas clases.
	-->
	<logger name="org.apache.commons.beanutils">
		<level value="WARN" />
	</logger>
	
	<logger name="ar.com.datos">
		<level value="DEBUG" />
		<appender-ref ref="FILELOGGER" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="FILELOGGER" />
	</root>
	


</log4j:configuration>